p {
  margin: 0px;
}

body {
  background-color: #1f5768;
  display: flex;
  justify-content: start;
  padding: 30px;
}

.wrap {
  position: relative;
  margin-bottom: 20px;
}

.wrap:last-child {
  margin-bottom: 0px;
}

.lotus-wrap {
  display: flex;
  gap: 6px;
}

.frog-wrap {
  cursor: pointer;
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.lotus-leaf {
  width: 160px;
  height: 160px;
}

@keyframes frogAnimate {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.frog {
  width: 100px;
  height: 100px;
  animation-name: frogAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
